<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Unit Converter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/lib/angular.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
        <script type="text/javascript" src="js/lib/spin.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-spinner.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-loading-spinner.js"></script>
        <script type="text/javascript" src="js/helper.js"></script>
        <script type="text/javascript" src="js/ConversionDataFetchService.js"></script>
        <script type="text/javascript" src="js/MainController.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body ng-app="converter">
        <header>
            Unit converter
        </header>
        <div ng-controller="MainController">
            <div class="container">
                <div class="row" id="parent-unit">
                    <div class="col-md-12">
                        <select class="form-control" name="parentUnit" id="parentUnit"  ng-model="parentUnit">
                            <option value="" disabled selected>What do you want to convert?</option>
                            <option ng-repeat="unit in units" value="{{unit.key}}">{{unit.value}}</option>
                        </select>
                    </div>
                </div>

                <div ng-show="masterData">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">{{masterData.name}}</div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-5">
                                        <div class="row mb-10">
                                            <input type="text" class="form-control" ng-model="sourceQuantity" type="number" ng-disabled="!sourceUnit" type="number" maxlength="10"/>
                                        </div>
                                        <div class="row">
                                            <select class="form-control" name="sourceUnit" id="sourceUnit" ng-model="sourceUnit">
                                                <option value="" disabled selected>Select source unit</option>
                                                <option ng-repeat="unit in masterData.units" value="{{unit.key}}">{{unit.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: center;">
                                        <div class="row">To</div>
                                        <br />
                                        <div class="row"><button class="btn btn-primary"  ng-click="swapUnits()"><i class="fa fa-refresh"></i> Swap</button></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row mb-10">
                                            <input type="text" class="form-control" disabled ng-model="targetQuantity" type="number" maxlength="6"/>
                                        </div>
                                        <div class="row">
                                            <select class="form-control" name="targetUnit" id="sourceUnit" ng-model="targetUnit">
                                                <option value="" disabled selected>Select target unit</option>
                                                <option ng-repeat="unit in masterData.units" value="{{unit.key}}">{{unit.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
    </body>
</html>
